{% extends '::base.html.twig' %} 
{% block title %}Admin Tema{% endblock %}
{% block contenido %}
<h1>Agregar nuevo Tema</h1>

<form action="{{ path('tema_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <br>
        <a href="{{ path('tema') }}" class="btn btn-outline btn-back" >Regresar</a>
        <button class="btn btn-outline btn-warning" type="reset">Reset</button>
	    <button class="btn btn-outline btn-primary" type="submit">Crear</button>
</form>

{% endblock %}