{% extends '::base.html.twig' %} 
{% block title %}Admin Tema{% endblock %}
{% block contenido %}
<h1>Tema</h1>

<form action="{{ path('tema_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <table>
    	<tr>
    		<td><button type="reset">Reset</button></td>
		    <td><button type="submit">Crear</button></td>
		</tr>
    </table>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tema') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}