button{
	color: white;
	background-color: #2F4050; 
}
form {
   border: 0px solid black;	
   /*background: #F6F6F6;*/
}
form div { 
	padding: 7px;
}
form div label{
	display: block;
	float: left; 
	width: 150px;
	color: black;
}
input{
	font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select{
	background-color: transparent;
	width: 168px;
}

select:focus, textarea:focus, input:focus, option:focus{
	background-color: transparent !important;
}
select:hover, textarea:hover, input:hover, option:hover{
	background-color: transparent !important;
	
}
table, tr, td{
	text-align: center;
}
button:focus,textarea, p {
	color: #2F4050;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 168px;
}
