{% extends '::base.html.twig' %} 
{% block title %}Admin Usuario{% endblock %}
{% block contenido %}
<h1>Agregar nuevo Usuario</h1>

<form action="{{ path('usuario_create_login') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <br>
        <a href="{{ path('usuario') }}" class="btn btn-outline btn-back" >Regresar</a>
        <button class="btn btn-outline btn-warning" type="reset">Reset</button>
	    <button class="btn btn-outline btn-primary" type="submit">Crearr</button>
</form>

{% endblock %}