<div class="panel panel-info">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Font Awesome (579)</strong></div>
        <div class="panel-body">
            <p>479 font icons. For complete lists, <a href="http://fontawesome.io/icons/" target="_blank">please go here</a></p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Themify Icons (320+)</strong></div>
        <div class="panel-body themify-icons">

            <div class="icon-section">
                <h3>Arrows &amp; Direction Icons </h3>

                <div class="icon-container">
                    <span class="ti-arrow-up"></span><span class="icon-name"> ti-arrow-up</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrow-right"></span><span class="icon-name"> ti-arrow-right</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrow-left"></span><span class="icon-name"> ti-arrow-left</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrow-down"></span><span class="icon-name"> ti-arrow-down</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrows-vertical"></span><span class="icon-name"> ti-arrows-vertical</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrows-horizontal"></span><span class="icon-name"> ti-arrows-horizontal</span>
                </div>
                <div class="icon-container">
                    <span class="ti-angle-up"></span><span class="icon-name"> ti-angle-up</span>
                </div>
                <div class="icon-container">
                    <span class="ti-angle-right"></span><span class="icon-name"> ti-angle-right</span>
                </div>
                <div class="icon-container">
                    <span class="ti-angle-left"></span><span class="icon-name"> ti-angle-left</span>
                </div>
                <div class="icon-container">
                    <span class="ti-angle-down"></span><span class="icon-name"> ti-angle-down</span>
                </div>  
                <div class="icon-container">
                    <span class="ti-angle-double-up"></span><span class="icon-name"> ti-angle-double-up</span>
                </div>
                <div class="icon-container">
                    <span class="ti-angle-double-right"></span><span class="icon-name"> ti-angle-double-right</span>
                </div>
                <div class="icon-container">
                    <span class="ti-angle-double-left"></span><span class="icon-name"> ti-angle-double-left</span>
                </div>
                <div class="icon-container">
                    <span class="ti-angle-double-down"></span><span class="icon-name"> ti-angle-double-down</span>
                </div>                  
                <div class="icon-container">
                    <span class="ti-move"></span><span class="icon-name"> ti-move</span>
                </div>
                <div class="icon-container">
                    <span class="ti-fullscreen"></span><span class="icon-name"> ti-fullscreen</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrow-top-right"></span><span class="icon-name"> ti-arrow-top-right</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrow-top-left"></span><span class="icon-name"> ti-arrow-top-left</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrow-circle-up"></span><span class="icon-name"> ti-arrow-circle-up</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrow-circle-right"></span><span class="icon-name"> ti-arrow-circle-right</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrow-circle-left"></span><span class="icon-name"> ti-arrow-circle-left</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrow-circle-down"></span><span class="icon-name"> ti-arrow-circle-down</span>
                </div>
                <div class="icon-container">
                    <span class="ti-arrows-corner"></span><span class="icon-name"> ti-arrows-corner</span>
                </div>
                <div class="icon-container">
                    <span class="ti-split-v"></span><span class="icon-name"> ti-split-v</span>
                </div>

                <div class="icon-container">
                    <span class="ti-split-v-alt"></span><span class="icon-name"> ti-split-v-alt</span>
                </div>
                <div class="icon-container">
                    <span class="ti-split-h"></span><span class="icon-name"> ti-split-h</span>
                </div>
                <div class="icon-container">
                    <span class="ti-hand-point-up"></span><span class="icon-name"> ti-hand-point-up</span>
                </div>
                <div class="icon-container">
                    <span class="ti-hand-point-right"></span><span class="icon-name"> ti-hand-point-right</span>
                </div>
                <div class="icon-container">
                    <span class="ti-hand-point-left"></span><span class="icon-name"> ti-hand-point-left</span>
                </div>
                <div class="icon-container">
                    <span class="ti-hand-point-down"></span><span class="icon-name"> ti-hand-point-down</span>
                </div>
                <div class="icon-container">
                    <span class="ti-back-right"></span><span class="icon-name"> ti-back-right</span>
                </div>
                <div class="icon-container">
                    <span class="ti-back-left"></span><span class="icon-name"> ti-back-left</span>
                </div>
                <div class="icon-container">
                    <span class="ti-exchange-vertical"></span><span class="icon-name"> ti-exchange-vertical</span>
                </div>

            </div> <!-- Arrows Icons -->        

        </div>
    </div>

   

