.btn-back {
  border: 1px solid #C2C2C2 !important;
  color: #C2C2C2 !important;
  width: 129px;
  margin: 0px 25px 0px 0px ;
}
.btn-back:hover,
.btn-back:focus{
  	background-color: #C2C2C2;
  	border-color: #C2C2C2;
  	color: white !important;
}
.btn-danger {
  border: 1px solid #ED5565 !important;
  color: #ED5565 !important;
  height: 32px;
  width: 129px;
  margin: 0px 15px 0px 50px ;
}
.btn-danger:hover,
.btn-danger:focus{
  	background-color: #ED5565;
  	border-color: #ED5565;
  	color: white !important;
}
.btn-edit {
  border: 1px solid #23C6C8 !important;
  color: #23C6C8 !important;
  width: 129px;
  margin: 0px 25px 0px 0px ;
}
.btn-edit:hover,
.btn-edit:focus{
  	background-color: #23C6C8;
  	border-color: #23C6C8;
  	color: white !important;
}
.btn-outline{
	background: transparent;
	color:#18A78A;
}
.btn-primary{
	background-color: transparent;
	border:1px solid #18A78A !important;
}
.btn-primary:hover, .btn-primary:focus{
	background-color:#18A78A !important;
}
.btn-warning {
  background: transparent;
  border:1px solid #F8AC59 !important;
  border-color: #F8AC59;
  color:#F8AC59;
}
.clasesilla{
	margin: 1px;
	width: 199px !important;
}
.delet{
	padding: 0px 0px 14px 0px;
}
form {
	background: transparent;
   	/*border: 1px solid grey;	*/
   	padding: 20px;
}
form div { 
	padding: 7px;
}
form div label {
	color: black;
	display: block; 
	float: left; 
	width: 150px;
}
form div select {
	background-color: transparent !important;
	color: black;
	width: 177px;
}
option {
	background-color: #B0C4D0 !important;
	color: red;
	appearance: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
}
option:focus {
	background-color: #B0C4D0 !important;
	color: red !important;
	appearance: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
}
option:hover {
	background-color: #B0C4D0 !important;
	color: red !important;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
p{
    font-size:13px;
    line-height:25px;
    margin: 0 10px 10px;
    padding-top:10px;    
}
select:focus, textarea:focus, input:focus{
	background-color: #FFFDD4;
}
select:hover, textarea:hover, input:hover{
	background-color: ;
}