{% extends '::base.html.twig' %} 
{% block title %}Admin Imagenes{% endblock %}
{% block contenido %}
<h1>Imagenes creation</h1>

<form action="{{ path('imagenes_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('imagenes') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}