{% extends '::base.html.twig' %} 
{% block title %}Admin Subtema{% endblock %}
{% block contenido %}
<h1>Subtema creation</h1>

<form action="{{ path('subtema_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('subtema') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}